.background-container {
    background: linear-gradient(to bottom, #330867, #1d5f85, #30cfd0, #1d5f85,#330867);
    animation: gradientAnimation 8s linear infinite;
    background-size: 200% 200%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


header {
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px #000000;
    animation: rainbow 10s infinite; 
  }

  @keyframes rainbow{
    0%{color: orange;}
    10%{color: purple;}
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
   }

   #explanation {
    color: rgb(249, 95, 0);
    font-weight: bold;
   }

   .champion-info h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .champion-info img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  
  #championContainer p {
    border: 5px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
     
   .skills-container {
    margin-top: 10px;
  }
  
  .skill {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .skill h3 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .skill p {
    font-size: 14px;
    margin-top: 5px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
    color: rgb(15, 73, 36);
    font-size: large;
  }

  a:hover {
    background-color: rgb(193, 46, 9);
  }